/**
 * @name: G.css
 * @description: 主题G主要样式表
 * @author: youranreus(youranreus@qq.com)
 * @update: 2019-02-15
 */

 @font-face {
   font-family: 'poppin';
   src : url('poppin.ttf');
 }

/**
 * 头部
 */

#header {
	border-radius: 30px;
	background: #787878;
	box-shadow: 0px 0px 70px 6px rgba(0,0,0,0.12);
	padding: 1px;
	width: 800px;
	margin: 50px auto;
	overflow: hidden;
	position: relative;
}
#header-container {
	margin: 50px;
	position: relative;
	z-index:3;
}
#header-logo{
	opacity: 0.2;
  position: absolute;
  top: -110px;
  right: -110px;
  height: 25rem;
	z-index:2;
}
#header-container>* {
	margin: 0;
}
#header-container h2 {
	font-size: 5rem;
	color: white;
	font-weight: 200;
	margin-bottom: 10px;
}
#header-container div span {
	color: hsla(0,0%,100%,.6);
	font-size: 1.3rem;
	float: left;
}
#header-container div nav{
	margin: 0;
	float: right;
	text-align: right;
}
#header-container div nav a{
	color: hsla(0,0%,100%,.6);
	font-weight: 400;
	font-size: 1.3rem;
	margin-left: 20px;
	display: inline-block;
}
#header-container div nav a:hover{
	color: white;
}
.nav-focus {
	color: white!important;
}
.nav-focus:after {
	content: '';
	display: block;
	margin-top: 5px;
	height: 3px;
	margin-left: 2px;
	width: 70%;
	background: white;
	border-radius: 100000000rem;
	animation: nav-width 0.5s;
	-moz-animation: nav-width 0.5s;
	/* Firefox*/
	-webkit-animation: nav-width 0.5s;
	/* Safari and Chrome*/
	-o-animation: nav-width 0.5s;
	/* Opera*/
}


/**
 * 文章展示页
 */

#article {
	margin: 50px auto;
	width: 800px;
}
.article-item h2 {
	margin-top: 0;
	margin-bottom: 5px;
	line-height: 1.1;
	font-weight: 600;
	overflow: hidden;
	color:black!important;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.article-item h2 span {
	color: black!important;
	font-size: 2rem;
	position:relative;
	transition: .3s ease all;
}
.article-item em{
	color:#444;
	font-style: normal;
}
.article-item p {
	color: RGB(93,130,138);
	line-height: 1.7;
	margin: 0;
	margin-top: 10px;
}
#article-author {
	float: left;
}
#article-date {
	float: right;
}
.next,.prev {
	padding: .5rem 1.6rem;
	border-radius: 100rem;
	display: inline-block;
	opacity: 1;
	font-size: .875rem;
	line-height: 1.5;
	font-weight: 500;
	color:#F5FFFA!important;
/*border: .0625rem solid #333 !important;*/
	margin: 10px;
	margin-top: 30px;
	-webkit-transition: .3s ease all;
	-moz-transition: .3s ease all;
	-ms-transition: .3s ease all;
	-o-transition: .3s ease all;
	transition: .3s ease all;
	background: #fff;
}
.next{
float: right;
}
.prev{
float: right;
}
.next:hover,.prev:hover {
	background: #333 !important;
	color: #fff !important;
}
.next:hover a,.prev:hover a{
	color: #fff !important;
}
.next {
	float: right;
}
.prev {
	float: left;
}

.card-item{
  float: left;
  width: 100%;
	margin-bottom:2rem
}
.card-item article{
  color: #fff;
	background: rgb(138, 160, 255);
	background: -moz-linear-gradient(128deg, rgb(138, 160, 255) 30%, rgb(90, 140, 250) 70%);
	background: -webkit-linear-gradient(128deg, rgb(138, 160, 255) 30%, rgb(90, 140, 250) 70%);
	background: -o-linear-gradient(128deg, rgb(138, 160, 255) 30%, rgb(90, 140, 250) 70%);
	background: -ms-linear-gradient(128deg, rgb(138, 160, 255) 30%, rgb(90, 140, 250) 70%);
	background: linear-gradient(218deg, rgb(138, 160, 255) 30%, rgb(90, 140, 250) 70%);
  position: relative;
  z-index: 0;
  padding: 40px 38px 45px;
  height: 150px;
  border-radius: 24px;
  overflow: hidden;
  word-break: break-all;
  transition: all 0.5s ease;
}
.card-item article:hover {
  transform: translateY(-5px);
}

.card-item article h2{
	position: absolute;
	bottom:38px;
  color:white;
  margin: 0;
  font-size: 1.725rem;
	width:100%;
  /* text-shadow: 0 0 5px rgba(0,0,0,0.5); */
}
.card-cover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
	transition: all 0.2s;
	filter:brightness(90%);
}
.card-link{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.article-title{
	max-width: 90%;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.article-category{
  position: absolute;
	display: inline-block;
  z-index: 2;
}
.article-category-link,.article-date,.article-picnum{
  color:white;
  border-radius: 20px;
  padding: 4px 8px;
  transition: all 0.2s ease;
  text-decoration: none;
	cursor: default;
}

.card-item article:hover .article-category-link{
	color: #000;
  background-color: #fff;
	text-shadow: none;
}
.card-item article:hover .article-date{
	color: #000;
  background-color: #fff;
	text-shadow: none;
}
.card-item article:hover .article-picnum{
	color: #000;
  background-color: #fff;
	text-shadow: none;
}

/**
 * page
 */

#page {
	margin: 50px auto;
	width: 800px;
	background: white;
	border-radius: 30px;
	box-shadow: 0px 0px 70px 6px rgba(0,0,0,0.12);
	padding: 1px;
}
#page-content {
	margin: 49px;
}
#page-content-title {
	font-size: 2.3rem;
	font-weight: 400;
	text-align: center;
	color: RGB(182,177,150)!important;
}
#page-content-title img {
	height: 2.3rem;
	position: relative;
	top: 0.2rem;
}
#page-content-article h1,#page-content-article h2,#page-content-article h3,#page-content-article h4 {
	color: RGB(48,71,88);
	-webkit-transition: .3s ease all;
	-moz-transition: .3s ease all;
	-ms-transition: .3s ease all;
	-o-transition: .3s ease all;
	transition: .3s ease all;
}
#page-content-article h1:hover,#page-content-article h2:hover,#page-content-article h3:hover,#page-content-article h4:hover {
	letter-spacing: 0.5rem;
}
#page-content-article h1::before,#page-content-article h2::before,#page-content-article h3::before,#page-content-article h4::before {
	content: ' ';
	display: inline-block;
	position: relative;
	width: 1.5rem;
	height: 1.5rem;
	top: 0.2rem;
	left: -0.2rem;
	background-size: contain;
	background-image: url('https://i.loli.net/2019/02/11/5c6188146e4a4.png');
}
#page-content-article p {
	line-height: 1.75rem;
	font-size: 0.975rem;
	margin-top: 0;
	margin-bottom: 1rem;
	text-align: justify;
}
#page-content-article ul, #page-content-article ol,#page-content-article table, #page-content-article pre {
	margin-top: 0;
	margin-bottom: 1rem;
	margin-left: -1rem;
	text-align: justify;
}
#page-content-article li {
	margin: 10px auto;
	padding: 0;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: subpixel-antialiased;
}
#page-content-article blockquote {
	position: relative;
	display: block;
	padding: 45px 0px 25px 0px !important;
	margin: 0;
	font-size: 16px;
	line-height: 26px;
	border-left: none;
	background: #f5f5f5;
	text-align: justify;
	border-radius: 15px;
}
#page-content-article blockquote p {
	font-size: 16px;
	margin: 0px;
	padding: 0px 25px 0px 25px;
	color: #878c93;
}
#page-content-article blockquote:before {
	position: absolute;
	top: 3;
	left: 7;
	content: '';
	background: url(../IMG/dot.svg) left top no-repeat;
	background-size: contain;
	width: 36px;
	height: 40px;
}
#page-content-article img {
	display: block;
	margin: 20px auto;
	text-align: center;
	border-radius: 15px;
	width: 100% \9;
	max-width: 90%;
	max-height: 500px;
	height: auto;
}



/**
 * night mode
 */
.night{
	background:#2c2a2a !important;
	color:#f0f0f0!important;
}
.night_title{
	color:#f0f0f0;
	border-bottom: none;
}
.night_comments{
	background: #424040;
}
.night_comments p{
	color:#f0f0f0;
}
.night_textarea{
	background: rgba(250,250,250,0);
}



/**
 * footer
 */

#footer {
	width: 800px;
	margin: 20px auto;
	background: RGB(113,114,122);
	box-shadow: 0px 0px 70px 6px rgba(0,0,0,0.12);
	padding: 1px;
	border-radius: 30px;
}
#footer-content {
	margin: 10px 49px;
	color: white;
}
#footer-content-left {
	float: left;
  width:70%;
}
#footer-content-right {
	float: right;
	position: relative;
}
#footer-content-right p {
	position: relative;
}
#footer-content-left p {
	line-height: 1.7;
	font-size: 1.2rem;
}
#footer-content-left p a{
	line-height: 1.7;
	font-size: 1.2rem;
  color:white!important;
}
#site_runtime{
	display: inline-block;
}
#site_runtime span{
	font-size:1rem;
}
#footer-content-right img {
	height: 50px;
	margin-right: 20px;
}
#nav-2{
	margin: 0px 0px 24px 0;
	position: relative;
  overflow-x: scroll;
  white-space: nowrap;
  max-width: 100%;
}
#nav-2::-webkit-scrollbar-thumb {
background   : hsla(0,0%,100%,.6);
}
#nav-2 a{
	display: inline-block;
	color:white!important;
	margin-right:10px;
	font-size:16px;
	transition: all 0.2s;
	cursor: pointer;
}
#nav-2 a:hover{
	-webkit-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  -o-transform: translateY(-4px);
  transform: translateY(-4px);
}

/**
 * 1024px
 */

@media screen and (max-width: 1024px) {
	#pjax-container {
	width: 100%;
}
#header {
	width: 65%;
	margin: 10px auto;
}
#header-container {
	margin: 20px;
}
#header-container h2 {
	font-size: 2rem;
}
#header-container div span {
	width: 100%;
	font-size: 1.1rem;
	float: none;
}
#header-container div nav {
	margin-top: 15px;
	float: none;
	text-align: center;
	width: 100%;
}
#header-container div nav a {
	font-size: 1.1rem;
	margin: 5px;
}
.nav-focus:after {
	margin-left: 0px;
	width: 70%;
}
.article-item {
	width: 37.5%;
}
#zp,#footer,#links,#page,#post,#article,#comments,#archives,#Search{
	width: 65%;
	margin: 20px auto;
}
#zp-content,#footer-content,#links-content,#page-content,#post-content,#archives-content,#Search-content{
	margin: 24px;
}
#article-content {
	margin: 0;
}
#zp-content p {
	font-size: 1rem;
}
.comment-list li {
	padding: 24px;
}
#comment-form {
	padding: 24px;
}
#footer-content-left p {
	font-size: 1.1rem;
}
#footer-content-right img {
	height: 35px;
}
#footer-content-right,#footer-content-left {
	float: none;
}
#links h2 {
	font-size: 1.8rem;
}

.article-item h2 a {
	font-size: 1.5rem;
}
#links h2::before {
	top: 0.8rem;
}
#article h1 {
	font-size: 1.5rem;
}
#article h1::before {
	width: 2.5rem;
	height: 2.5rem;
	top: 0.45rem;
}
#post-content-title {
	font-size: 1.5rem;
}
}

/**
 * 768px
 */
@media screen and (max-width: 768px) {
	#pjax-container {
	width: 100%;
}
#header {
	width: 95%;
	margin: 10px auto;
}
#header-container {
	margin: 20px;
}
#header-container h2 {
	font-size: 2rem;
	font-weight: 400;
}
#header-container div span {
	width: 100%;
	font-size: 1rem;
	float: none;
}
#header-container div nav {
	margin-top: 15px;
	float: none;
	text-align: center;
	width: 100%;
}
#header-container div nav a {
	font-size: 1rem;
	margin: 5px;
}
.nav-focus:after {
	margin-left: 0px;
	width: 70%;
}

.article-item h2 span {
  font-size: 1.5rem;
}
.card-item article{
	height:140px;
	padding: 20px 19px 22.5px;
}
.card-item article h2{
	bottom:19;
	font-size: 1.25rem;
}
.article-category-link,.article-date,.article-picnum{
	font-size:0.975rem;
}
#footer-search input.text {
	width:100px;
}
#zp,#footer,#links,#page,#post,#article,#comments,#archives,#Search{
	width: 95%;
	margin: 20px auto;
}
#zp-content,#footer-content,#links-content,#page-content,#post-content,#archives-content,#Search-content{
	margin: 24px;
}
#article-content {
	margin: 0;
}
#post-content-title {
	margin-left: 25px;
	font-size: 1.5rem;
	margin-bottom: 5px;
}
#post-content-meta {
	margin-left: 25px;
}
#post-header {
	height: 10rem;
}
#post-header-mask {
	height: 10rem;
}
#post-content-meta {
	top: -7px;
}
#post-content-article p{
	font-size:15px;
}
#post-footer {
	padding: 25px;
}
.bilibili{
  height: 200px;
  width: 100%;
}
.dplayer{
  height:190px;
}
#page-content-title{
  font-size: 1.3rem;
}
#page-content-title img {
  height: 1.3rem;
}
#footer-content-left{
  width:100%;
}
#footer-time{
  overflow-x: scroll;
  white-space: nowrap;
}
#nav-2{
  max-width: 100%;
  margin:0;
}
#nav-2::-webkit-scrollbar,#footer-time::-webkit-scrollbar{
  display: none;
}
#nav-2 a {
  font-size: 0.875rem;
  margin-right:5px;
}
#zp-content p {
	font-size: 1rem;
}
.comment-list li {
	padding: 24px;
}
.comment-child {
	padding: 25px 0 !important;
	padding-bottom: 0px!important;
}
.comment-inner {
	padding: 0;
}
#comment-form {
	padding: 24px;
}
#footer-content-left p {
	font-size: 0.875rem;
  margin: 0 0 3px 0px;
}
#footer-content-left p a {
  font-size: 0.875rem;
}
#footer-content-right p{
  margin: 0px 0 -5px 0;
  height: 35px;
}
#footer-content-right img {
	height: 35px;
}
#footer-content-right,#footer-content-left {
	float: none;
}
#links h2,#archives-content h2{
	font-size: 1.3rem;
}

.article-item h2 a {
	font-size: 1.5rem;
}
#links h2::before,#archives h2:before{
	top: 0.4rem;
}
#links h2::before {
  width: 1.8rem;
  height: 1.8rem;
}
#article h1 {
	font-size: 1.5rem;
}
#article h1::before {
	width: 2.5rem;
	height: 2.5rem;
	top: 0.45rem;
}
.article-item {
	background: white;
	border-radius: 30px;
	box-shadow: 0px 0px 70px 6px rgba(0,0,0,0.12);
	padding: 20px;
	width: 87%;
	margin: 20px auto;
	float: none;
}
.article-item p {
	margin: 5px 0px;
}
.friends li {
	width: 100%;
	margin: 0;
	margin-bottom: 30px;
}
.link-item-content h3 {
	font-size: 16px;
}
input#url, input#mail, input#author {
    width: 100%;
    margin-top: 10px;
}
#comment-loading {

}
#m_menu, #m_top, #m_search {
    position: fixed;
    right: 15px;
    z-index: 999;
    padding: .725rem;
    background: rgba(250,250,250,0.9);
    border: 1px solid #444;
    border-radius: 2.5rem;
    -webkit-transition: .6s ease all;
    -moz-transition: .6s ease all;
    -ms-transition: .6s ease all;
    -o-transition: .6s ease all;
    transition: .6s ease all;
}
#m_menu {
    bottom: 15px;
}
#m_top {
    bottom: 70px;
}
#m_search {
    bottom: 125px;
}
}


